{{- 'customer.css' | asset_url | stylesheet_tag -}}

<div class="form-customer form-customer--activate">
  <div class="container container--narrow">
    <div class="form__head center">
      <h1 class="h3 form__title">
        {{- 'customer.activate_account.title' | t -}}
      </h1><!-- /.h3 form__title -->

      <p class="form__subtitle color-subdued">
        {{- 'customer.activate_account.subtitle' | t -}}
      </p><!-- /.form__subtitle color-subdued -->
    </div><!-- /.form__head center -->

    <div class="form__body">
      {%- form 'activate_customer_password' -%}
        {%- if form.errors -%}
          <div class="color-red">
            {{- form.errors | default_errors -}}
          </div><!-- /.color-red -->
        {%- endif -%}

        <div class="form-row">
          {%-
            liquid
            assign label = 'customer.activate_account.password' | t
            assign placeholder = 'customer.activate_account.password_placeholder' | t
            assign error = ''
            assign has_error = false
            assign attr = 'autocomplete="new-password"'
            if form.errors contains 'password'
              assign error = form.errors.translated_fields['password'] | capitalize | append: ' ' | append: form.errors.messages['password']
              assign has_error = true
            endif
            render 'text-input', id: 'password', label: label, type: 'password', name: 'customer[password]', placeholder: placeholder, attr: attr, message: error, has_error: has_error
            assign label = nil
            assign placeholder = nil
            assign attr = nil
            assign error = nil
            assign has_error = nil
          -%}
        </div><!-- /.form-row -->

        <div class="form-row">
          {%-
            liquid
            assign label = 'customer.activate_account.password_confirm' | t
            assign placeholder = 'customer.activate_account.password_confirm_placeholder' | t
            assign error = ''
            assign has_error = false
            assign attr = 'autocomplete="new-password"'
            if form.errors contains 'password'
              assign error = form.errors.translated_fields['password_confirmation'] | capitalize | append: ' ' | append: form.errors.messages['password_confirmation']
              assign has_error = true
            endif
            render 'text-input', id: 'password', label: label, type: 'password', name: 'customer[password_confirmation]', placeholder: placeholder, attr: attr, message: error, has_error: has_error
            assign label = nil
            assign placeholder = nil
            assign attr = nil
            assign error = nil
            assign has_error = nil
          -%}
        </div><!-- /.form-row -->

        <div class="form-row form-row--double center">
          <div>
            {%- assign value = 'customer.activate_account.cancel' | t -%}
            {%- render 'button', type: 'submit', name: 'decline', value: value, style: 'outlined' -%}
            {%- assign value = nil -%}
          </div>

          <div>
            {%- assign value = 'customer.activate_account.submit' | t -%}
            {%- render 'button', type: 'submit', value: value -%}
            {%- assign value = nil -%}
          </div>
        </div><!-- /.form-row form-row--double center -->
      {%- endform -%}
    </div><!-- /.form__body -->
  </div><!-- /.container container--narrow -->
</div><!-- /.form-customer form-customer--activate -->
