{{ 'main-404.css' | asset_url | stylesheet_tag }}

<div class="main_404">
  <h1>ERROR 404</h1>

  <p>Siamo spiacenti, ma questa pagina non è più disponibile sul nostro sito web o l'url è sbagliato.</p>

  <a class="button" href="/">Torna alla home</a>
</div>
